<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="./js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
    
        <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	
    <link rel="icon" href="../../favicon.ico">

    <title>Employee Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/dashboard.css" rel="stylesheet">
    <link href="stylesheets/file1.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>

.has-error .help-block{
	color:red;
}

.has-error .form-control{
	border:1px solid red;
}

.rowmain{

background: url("../1234.jpg");

width:1;
height:1300px;
top:53px;
left:250px;

}

</style>
  </head>

  <body ng-app="myapp" data-ng-controller="myapp">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="homePage()">Dashboard</a></li>
            <!-- <li><a href="#">Settings</a></li> -->
          <!--  <li><a href="#" ng-click="pro_file()">Profile</a></li>-->
            <li><a href="#" ng-click="log_out()">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar" style="background: url(./images/cloud.jpg);">
          <ul class="nav nav-sidebar">
            <li><button type="button" class="list-group-item active" ng-click="homePage()" style="margin:1px 0 0 0">Home</button></li>
            <li><button type="button" class="list-group-item" ng-click="nwprPage()" style="margin:3px 0 0 0;">Customer List</button></li>
            <li><button type="button" class="list-group-item" ng-click="Page2()" style="margin:3px 0 0 0;">Order List</button></li>
          </ul>   
        </div>         
        
      <div class="rowmain">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"  ng-show="home">
			<div class="row col-md-7" style="margin:0 25% 0 23%;padding:5px 5px 5px 5px;border: solid #337AB7  1px;opacity:0.9; background-color:#ffffff">
			<h1 align= "center">Welcome to Employee portal</h1>
			
			</div>
		</div>
	    	   	    
	    </div>
	 </div>
</div>
    
 </body>
 
 <script type="text/javascript">

var app = angular.module('mtaas', []);

app.controller('mtaas', ['$scope','$http','$window',function ($scope,$http,$window)  {
	
		$scope.home = true;
		$scope.nwpr = false;
		$scope.fntr = false;
		$scope.actr = false;
		$scope.blpr = false;
		$scope.blcl = false;
		$scope.rupr =false;	
	
	
	$http({
	  		method: 'GET',
	 		url: '/checkLogin'
	 }).
then(function(response)
	{
	  	if (response.data.status == 200)
	  		{
	  			//alert(response.data.fname);
//  			    $scope.email=response.data.mail;
//  			    $scope.first_name=response.data.fname;
//	  			$scope.last_name=response.data.lname;
			}
	  	
	 });
	 
	 
	 $scope.homePage = function (){
		$scope.home = true;
		$scope.nwpr = false;
		$scope.fntr = false;
		$scope.actr = false;
		$scope.blpr = false;
		$scope.blcl= false;	
		$scope.rupr = false;
		
	}

	
	$scope.nwprPage = function (){ 
		
		$scope.home = false;
		$scope.nwpr = true;
		$scope.fntr = false;
		$scope.actr = false;
		$scope.blpr = false;
		$scope.blcl= false;	
	    $scope.rupr = false;
				
	}
    
   
   $scope.fntrPage = function (){ 

	    $scope.home = false;
		$scope.nwpr = false;
		$scope.fntr = true;
		$scope.actr = false;
		$scope.blpr = false;
		$scope.blcl= false;	
		$scope.rupr = false;	
				
				
	}
	

   $scope.blprPage = function (){ 

	    $scope.home = false;
		$scope.nwpr = false;
		$scope.fntr = false;
		$scope.actr = false;
		$scope.blpr = true;
		$scope.blcl= false;	
		$scope.rupr = false;
					
	}
	
	
	$scope.newProject = function (){
	
    // alert("hello");
	// alert($scope.email);					
	
	  $http({
	  	  		method: 'POST',
	  	 		url: '/newProject',
	  	 		data: { "ad_email":$scope.email, 
			  	 		"platform":$scope.platform,
			  	 		"app_name":$scope.app_name ,
			  	 		"description":$scope.desc ,
			  	 		"no_of_testers":$scope.nf_testers,
			  	 		"language_preference":$scope.lang_pref,
			  	 		"project_testing_type":$scope.testing_ty,
			  	 		"project_bugdet":$scope.pr_budget,
			  	 		"Project_duration":$scope.pr_duration,
			  	 		"project_access_area":$scope.pr_accessAr,
			  	 		"report_access_area":$scope.rp_accessAr}
		    	 }).then(function(response)
		    	    {
			    		if (response.data.status == 200)
		    	  		{	  		      	
			  		  		alert("New Project got created successfully");
			  		  		$scope.home = true;
							$scope.nwpr = false;
							$scope.fntr = false;
							$scope.actr = false; 	
							$scope.blpr = false;
							$scope.blcl= false;	
							$scope.rupr = false;	
		    	  		       
		    	  		 }		
		    	   });
	}
	
	
	  $scope.findTester = function (){
    
     // alert($scope.email);
      //alert($scope.app_name_tr);
  
      $http({
	  	  		method: 'POST',
	  	 		url: '/findTester',
	  	 		data: { "ad_email":$scope.email,"app_name":$scope.app_name_tr}
		  	 		
		      }).then(function(response)  
		        {
		    	//alert(response.data.status);
			    	if (response.data.status === 200)
		    	  		{	
					    	//alert(response.data.detail[0]);
						    
						    $scope.home = false;
							$scope.nwpr = false;
							$scope.fntr = false;
							$scope.actr = true; 	
							$scope.blpr = false;
							$scope.blcl= false;	
							$scope.rupr = false;	
							
							$scope.details=response.data.detail;
        	  		      
        	  		    
        	  		     }  
        	  		     
        	  		     if(response.data.status ===	500)
        	  		      {
        	  		       alert("Not enough testers in system at this point of time , Please try again");
        	  		        $scope.home = true;
							$scope.nwpr = false;
							$scope.fntr = false;
							$scope.actr = false; 	
							$scope.blpr = false;
							$scope.blcl= false;	
							$scope.rupr = false;	
        	  		      
        	  		      }
        	  		      if(response.data.status===100)
        	  		      {
        	  		        alert("Testers already assigned , can't assign more testers for this application");
        	  		        $scope.home = true;
							$scope.nwpr = false;
							$scope.fntr = false;
							$scope.actr = false; 	
							$scope.blpr = false;
							$scope.blcl= false;	
							$scope.rupr = false;	
        	  		      
        	  		      }
        	  		                 	  		    
	            });
	}
	
	
	$scope.acceptTester = function (data) { 
	
	//alert("coming in accept tester");
    //alert(data[0].first_name);
    //alert(data[0].selected);
    //alert(data[1].selected);
	    
	   $http({
	  	  		method: 'POST',
	  	 		url: '/acceptTester',
	  	 		data: { "ap_email":$scope.email,"app_name":$scope.app_name_tr,"data":data}
		  	 		
		      }).then(function(response)  
		        {
			    	if (response.data.status == 200)
		    	  		{	
						    
						    alert("Offer sent");
						    $scope.home = true;
							$scope.nwpr = false;
							$scope.fntr = false;
							$scope.actr = false; 
							$scope.blpr = false;
							$scope.blcl= false;	
							$scope.rupr = false;	
							
							//$scope.details=response.data.detail;
        	  		      
        	  		    
        	  		     }  	           	  		    
	            });    
   
	
	}	
	
	
	$scope.runningProject = function (){
	
	//alert("	In running project");
	
	
	$http({		
	method: 'POST',			
	url: '/runningProjects',
	data: { "ad_email":$scope.email}			
		  }).then(function(response){
					
			if (response.data.status === 200)
			{
			
				$scope.home = false;			
				$scope.nwpr = false;			
				$scope.fntr = false;			
				$scope.actr = false;						
				$scope.blpr = false;			
				$scope.blcl= false;	
				$scope.rupr = true;
				$scope.bill= false;
						
				$scope.details=response.data.detail;
            }
	
	});
	
		
	
}
	
   
   
   
$scope.billing = function (){

	//alert($scope.email);		
	//alert($scope.app_name_bl);
	
	$http({		
	method: 'POST',			
	url: '/billing',
	data: { "ad_email":$scope.email,"app_name":$scope.app_name_bl}			
		  }).then(function(response){
					
			if (response.data.status === 200)
			{
			
				$scope.home = false;			
				$scope.nwpr = false;			
				$scope.fntr = false;			
				$scope.actr = false;					
				$scope.blpr = false;			
				$scope.blcl= true;	
				$scope.rupr = false;
						
				$scope.details=response.data.detail;
				$scope.project_id=response.data.details;
			
			}
			
			if(response.data.status === 100){ 	
			   alert("Project not yet started");
			}
			
			});

}

$scope.Billingclosure = function (data){

	//alert(data[0].tr_email);
	//alert(data[0].project_id);
	//alert(data[0].points);

		$http({
		method: 'POST',
		url: '/billingClosure',	
		data: { "ad_email":$scope.email,"data":data}			
			}).then(function(response)
				{
				//alert(response.data.status);
				
				if (response.data.status === 200)
				
				{
					$scope.home = false	;
					$scope.nwpr = false;
					$scope.fntr = false;
					$scope.actr = false;
					$scope.blpr = false;
					$scope.blcl= false;
					$scope.rupr = false;
					$scope.bill =true;
				  
				   $scope.details=response.data.detail;
				}
				
			});
} 
		
	
  $scope.log_out = function (){
		$http({
	  	  		method: 'POST',
	  	 		url: '/logout',
	    	 }).
	    	then(function(response)
	    	{
	    		$window.location.href = '/';
	    	})
	}
	

}]);

</script>
</html>
