<br/>
<br/>
<br/>
<header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                        <a class="navbar-brand" href="#/first">Sputnik Services</a>
                </div>
                <div>
                        <ul class="nav navbar-nav">
                           <li><a href="#/first"><i></i> Home</a></li>
                            <li><a href="#/profile"><i></i> Profile</a></li>
                           <li><a href="#/help"><i></i> Help</a></li>
                        </ul>
                    <div ng-controller="logoutcontroller">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ng-click='logout()' class="btn btn-default"><i></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
</header>
<h2>Welcome {{ username}}!</h2>

<h3>Forecast for {{ city }}</h3>
<div style="height:170px;width:1100px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
 <div ng-repeat="w in weatherResult.list">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ convertToDate(w.dt) }}</h3>
        </div> 
        <div class="panel-body">
            Day time temperature: {{ convertToCelcius(w.temp.day) }}</br>
            Humidity: {{ w.humidity }}
        </div>
      </div>
    </div>
  </div>
 </div>
</div></br></br>


<h4>Forecast by City</h4>
<div class="col-xs-4">
    <input type="text" class="form-control input-lg"  ng-model="city" placeholder="Enter City" />
</div>
<a ng-click="getWeather()" class="btn btn-success">Get Forecast</a>

</br></br>
<h3>Today's News</h3>
<div style="height:500px;width:1100px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <div ng-repeat="n in newsResult.results">
        <div class="row">
            <div class="col-md-12">
               <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ n.title }}</h3>
                    </div> 
                    
                    <div class="panel-body">
                       {{ n.abstract }}
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
